<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table style="width:30%">
 <tr>
   <th>ID Student</th>
   <th>First Name</th>
   <th>Last Name</th>
   <th>Create Date</th>
   <th>Update Date</th>
   <th>Email</th>
 </tr>
 <% dataStudents.forEach(Student=>{   %>
 <tr>
   <td><%=Student.id%></td>
   <td><%=Student.first_name%></td>
   <td><%=Student.last_name%></td>
   <td><%=Student.createdAt%></td>
   <td><%=Student.updatedAt%></td>
   <td><%=Student.email%></td>
   <td><a href="/students/edit/<%=Student.id%>">edit</a></td>
   <td><a href="/students/delete/<%=Student.id%>">delete</a></td>

 </tr>
 <% }) %>
</table>
  </body>
</html>
