<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table style="width:30%">
 <tr>
   <th>ID Teacher</th>
   <th>First Name</th>
   <th>Last Name</th>
   <th>Create Date</th>
   <th>Update Date</th>
   <th>Email</th>
 </tr>
 <% dataTeachers.forEach(Teacher=>{   %>
 <tr>
   <td><%=Teacher.id%></td>
   <td><%=Teacher.first_name%></td>
   <td><%=Teacher.last_name%></td>
   <td><%=Teacher.createdAt%></td>
   <td><%=Teacher.updatedAt%></td>
   <td><%=Teacher.email%></td>
 </tr>
 <% }) %>
</table>
  </body>
</html>
