<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/pageTitle %>

  <title></title>
  </head>
<body>
  <table>
   <tr>
     <th>No</th>
     <th>ID</th>
     <th>First Name</th>
     <th>Last Name</th>
     <th>Email</th>
     <th>Subject</th>
     <th>Options</th>
   </tr>
   <%let i=1%>
   <% dataTeachers.forEach(Teacher=>{   %>
   <tr>
     <td><%=i%></td>
     <td><%=Teacher.id%></td>
     <td><%=Teacher.first_name%></td>
     <td><%=Teacher.last_name%></td>
     <td><%=Teacher.email%></td>
     <%if(Teacher.Subject){%>
        <td><%=Teacher.Subject.subject_name%></td>
     <%}else{%>
       <td>Unassigned</td>
     <%}%>
     <td><a href="/teachers/edit/<%=Teacher.id%>">Edit</a> | <a href="/teachers/delete/<%=Teacher.id%>">Delete</a></td>
   </tr>
   <%i++%>
   <% }) %>
  </table>
  </body>
</html>
